.title{
    color:aquamarine;
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
}

.container {
    display: flex;
    margin: 5px;

}

.col {
  width: 200px;
  height: 250px;
  background: #076970;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  font-family: 'calibri';
  text-align: center;
  letter-spacing: 0.1rem;
  color: white;
  box-shadow: 7px 13px 47px rgb(7, 177, 189);
  margin-right: 15px;
    
}

.card-img-top{
    width: 100px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 5px 5px 17px rgb(13, 153, 141);

}