<div class="contenedor">
    <h1 class="title"> Riquelme & Morticio</h1>

</div>
<div class="container">
        <div class="col" *ngFor="let personaje of personajes" ><!--ng for para invocar el objecto personajes-->
            <img class="card-img-top" src={{personaje.image}}><!--pintar la imagen de los personajes-->
            <p>{{personaje.name}}</p><!--pintar el nombre de los personajes-->
        </div>
</div>